body{
    text-align: center;
    font-family: arial;
  }
  
h1{
    font-size: 5rem;
    background: linear-gradient(
             to right, #41031b, hsl(24, 84%, 15%),
              #d4add4, #eedd44);
         -webkit-text-fill-color: transparent;
         -webkit-background-clip: text;
  }
  
p{
    font-size: 1rem;
    color: blue;
  }
  
.top-con{
    margin: 150px auto 0 auto;
    width: 75%;
  }
  
.rectangle{
    height: 40px;
    width: 80px;
    margin: 150px auto 0 auto;
    background-color: #e90c0c;
  }